* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.header {
  margin: 17px 0px 70px 0px;
}
.header__body {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__burger {
  display: none;
}
.header__sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-button_white {
  padding: 13px 25px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  text-decoration: none;
  color: #2F281E;
  background-color: white;
  margin-right: 32px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat";
}

.header-button {
  padding: 13px 25px;
  background-color: #FF9900;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat";
}

.header-button:hover, .header-button_white:hover, .main__button:hover {
  background-color: #FFE5D2;
  color: #FF9900;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav__close {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 30px;
  display: none;
}
.header-nav__close::before, .header-nav__close::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2F281E;
  top: calc(50% - 2px);
  transition: all 0.4s;
}
.header-nav__close::before {
  top: 0;
  transform: rotate(45deg) translate(9px, 9px);
}
.header-nav__close::after {
  top: calc(100% - 4px);
  transform: rotate(-45deg) translate(9px, -9px);
}
.header-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav__item {
  list-style: none;
  margin-right: 20px;
}
.header-nav__item:last-child {
  margin-right: 0px;
}
.header-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #2F281E;
  font-family: "Montserrat";
}

.main {
  margin-bottom: 140px;
}

.container {
  max-width: 1180px;
  width: 98%;
  margin: auto;
  padding: 0px 10px;
}

.info {
  margin-bottom: 100px;
}
.info__paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.info-paragraph__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
  margin-bottom: 30px;
}
.info-paragraph__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-bottom: 20px;
}
.info-paragraph__button {
  display: inline-block;
}

.main__button {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 4px;
  text-decoration: none;
  padding: 13px 40px;
  border: none;
  cursor: pointer;
}

.tools__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools__title {
  width: 539px;
  text-align: center;
  margin-bottom: 50px;
}
.tools__head {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2F281E;
}
.tools__galery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
.tools__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
}
.tools__item:last-child {
  margin: 0px;
}
.tools__item__title {
  margin-bottom: 16px;
}

.tools__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.bg-purple {
  background-color: #7752BE;
}

.bg-yellow {
  background-color: #FAB005;
}

.bg-red {
  background-color: #F03E3D;
}

.bg-blue {
  background-color: #4DADF7;
}

.title__items {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F281E;
}

.text__items {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  border-top: 2px solid #BCD0E5;
}
.footer__body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__sign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__lists {
  list-style: none;
}
.footer__lists__head {
  margin-bottom: 30px;
}
.footer__lists__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
}
.footer__lists__item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  text-decoration: none;
}
.footer__lists__link {
  margin-bottom: 15px;
}

.bg-image {
  max-width: 100%;
}

.input {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 15px 118px 15px 10px;
  width: 310px;
  margin-bottom: 40px;
}

.header-nav__link:hover, .footer__lists__item:hover {
  padding: 8px 8px;
  border-radius: 6px;
  background-color: #FFE5D2;
  color: #FF9900;
}

.quik__links, .legal__stuff {
  max-width: 150px;
  width: 100%;
}

.burger {
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 30px;
  position: relative;
}
.burger__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2F281E;
  top: calc(50% - 2px);
  transition: all 0.4s;
}
.burger__item:first-child {
  top: 0;
}
.burger__item:last-child {
  top: calc(100% - 4px);
}

.is-active .burger__item {
  opacity: 0;
}
.is-active .burger__item:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(9px, 9px);
}
.is-active .burger__item:last-child {
  opacity: 1;
  transform: rotate(-45deg) translate(9px, -9px);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 840px) {
  .container {
    max-width: 840px;
    width: 90%;
    padding: 0px;
  }
  .header-nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #BCD0E5;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(100vw);
  }
  .header-nav__list {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
  }
  .header-nav__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .header-nav__item:last-child {
    margin: 0px;
  }
  .header-nav__close {
    display: block;
  }
  .is-open {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #BCD0E5;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(0);
    transition: all 0.3s;
  }
  .header__burger {
    display: block;
  }
  .header__body {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info__img {
    position: absolute;
    left: 150px;
    z-index: -1;
  }
  .info__img {
    display: none;
  }
  .tools__galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .tools__item:nth-of-type(1) {
    margin-bottom: 40px;
    margin-right: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .tools__item:nth-of-type(2) {
    margin-bottom: 40px;
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .tools__item:nth-of-type(3) {
    margin-right: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .tools__item:nth-of-type(4) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .footer__body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    width: 90%;
    padding: 0px;
  }
  .header-nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #BCD0E5;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(100vw);
  }
  .header-nav__list {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
  }
  .header-nav__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .header-nav__item:last-child {
    margin: 0px;
  }
  .header-nav__close {
    display: block;
  }
  .is-open {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #BCD0E5;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(0);
    transition: all 0.3s;
  }
  .header__burger {
    display: block;
  }
  .info__img {
    display: none;
  }
  .header__body {
    height: 240px;
    flex-direction: column;
    align-items: center;
  }
  .info-paragraph__title {
    font-size: 40px;
  }
  .tools__galery {
    display: flex;
    flex-wrap: wrap;
  }
  .tools__item {
    margin-bottom: 35px;
    align-items: center;
    text-align: center;
  }
  .tools__item:nth-of-type(1) {
    margin-right: 0px;
  }
  .tools__item:nth-of-type(2) {
    margin-right: 0px;
  }
  .tools__item:nth-of-type(3) {
    margin-right: 0px;
  }
  .tools__item:nth-of-type(4) {
    margin-right: 0px;
  }
  .tools__title {
    width: 98%;
  }
  .footer__body {
    flex-wrap: wrap;
  }
  .input {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */